.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1.5rem;
}

/* Wrapper */
.cardWrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  opacity: 0;
  animation: fadeInUp 0.5s ease-out forwards;
}

.card {
  height: 100%;
  background-color: var(--bg-secondary);
  border: 1px solid var(--border);
  border-radius: 8px;
  padding: 1.5rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.3s ease-in;
}

.card:hover {
  transform: translateX(2) translateY(-5);
  border-color: var(--accent);
  box-shadow: 0 10px 20px -5px var(--accent-glow);
}

.cardTitle {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  color: var(--text-primary);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.4;
  min-height: 2.8em;
}
.cardBody {
  color: var(--text-secondary);
  margin-bottom: 1.5rem;
  flex-grow: 1;
  line-height: 1.6;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* Muestra máximo 4 líneas */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis; /* Pone los "..." al final */
}
.cardFooter {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  border-top: 1px solid var(--border);
  margin-top: auto;
  color: var(--text-secondary);
  font-size: 0.85rem;
}

/* Wrapper delays */
.cardWrapper:nth-child(1) {
  animation-delay: 0.05s;
}
.cardWrapper:nth-child(2) {
  animation-delay: 0.1s;
}
.cardWrapper:nth-child(3) {
  animation-delay: 0.15s;
}
.cardWrapper:nth-child(4) {
  animation-delay: 0.2s;
}
.cardWrapper:nth-child(5) {
  animation-delay: 0.25s;
}
.cardWrapper:nth-child(6) {
  animation-delay: 0.3s;
}
.cardWrapper:nth-child(7) {
  animation-delay: 0.35s;
}
.cardWrapper:nth-child(8) {
  animation-delay: 0.4s;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
